h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: #333;
}

.d3timeline {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* d3 Timeline */

svg {
  flex: none;
  max-width: 100%;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #d7d7d7;
  shape-rendering: crispEdges;
}

.axis text {
	fill: #777;
}

.segment {
	stroke: #000;
	cursor: pointer;
}
